#about {
    .title {
        position: relative;
        display: inline-block;

        &::before {
            content: "";
            width: 60px;
            height: 60px;
            display: block;
            background-image: url(../assets/icon-star.png);
            position: absolute;
            background-size: contain;
            z-index: -1;
            left: -27px;
            top: -13px;
            background-repeat: no-repeat;

            @media (min-width: $medium) {
                width: 70px;
                height: 70px;
                left: -30px;
                top: -10px;
            }
        }
    }

    p {
        margin-left: 32px;
        margin-right: 32px;
    }
}
