.button {
    background-color: #e3b8c4;
    border-radius: 15px;
    padding: 15px 40px;
    color: #333;
    font-weight: 500;
    font-size: 18px;

    &:hover {
        border: 2px solid #ddab02;
        text-decoration: none;
        color: #333;
    }
}