#contact {

    .title span {
        font-size: 30px;
        margin-left: 5px;
    }

    .contact-box {
        background-color: #F5D6CC;
        padding: 40px 30px;
        border-radius: 15px;
        position: relative;
        text-align: right;

        @media (min-width: $small) {
            width: 500px;
            text-align: center;
            
            padding: 40px 0px 40px 60px;
        }

        p {
            margin-bottom: 0;
        }

        a, span {
            @include fluid-type($min_width, $max_width, 24px, 28px);
            color: #333;
            font-family: "Stylish",sans-serif !important;
        }

        img.icon-mail {
            position: absolute;
            width: 80px;
            left: 20px;
            top: 20px;

            @media (min-width: $small) {
                width: 160px;
                left: -50px;
                top: 20px;
            }
        }
    }
}
