#intro {
    background-color: $peach;
    border-radius: 15px;
    width: 100%;
    max-width: 800px;
    height: 200px;
    position: relative;

    .icon {
        position: absolute;
        width: 80px;
        height: auto;

        &.icon-1 {
            top: -48px;
            right: 15px;
        }

        &.icon-2 {
            top: -28px;
            right: 110px;
        }

        &.icon-3 {
            display: none;
        }
        
        &.icon-4 {
            display: none;
        }

        @media (min-width: $medium) {
            width: 130px;

            &.icon-1 {
                top: -20px;
                left: -55px;
            }

            &.icon-2 {
                bottom: -45px;
                left: 15px;
                top: auto;
            }

            &.icon-3 {
                top: -35px;
                right: -55px;
                display: inline-block;
            }

            &.icon-4 {
                right: 10px;
                bottom: -40px;
                top: auto;
                display: inline-block;
            }
        }
    }
}
