#tech {

    .title {
        position: relative;
        display: inline-block;
        text-align: center;

        &::before {
            content: "";
            width: 60px;
            height: 60px;
            display: block;
            background-image: url(../assets/icon-mouse-clicker.png);
            background-repeat: no-repeat;
            position: absolute;
            background-size: contain;
            z-index: -1;
            left: -29px;
            top: -20px;

            @media (min-width: $medium) {
                width: 70px;
                height: 70px;
                left: -33px;
                top: -17px;
            }
        }
    }

    .tech-item {
        border-radius: 15px;
        text-align: center;
        max-width: 280px;

        &-1 {
            background-color: #6D9BB5;
        }

        &-2 {
            background-color: #EBA268;
        }

        &-3 {
            background-color: #DB7C96;
        }

        &-4 {
            background-color: #9872A2;
        }
    }
}
