@import url('https://fonts.googleapis.com/css2?family=Stylish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Farro:wght@300;400;500;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
	font-family: 'Inter', sans-serif !important;
	color: $text;
}

h1, h2, h3 {
	font-family: 'Stylish', sans-serif !important;
}

h1 {
	font-family: 'Stylish', sans-serif;
	font-size: 42px;
	margin-top: 0;
	margin-bottom: 0;
}

h2 {
	font-size: 38px;
}

p {
	font-size: 20px;
	margin-top: 0;
	margin-bottom: 15px;
}

a.cta {
  font-size: 20px;
  background: $red;
  color: $white;
  padding: 14px 30px 16px;
  border-radius: 30px;
  text-underline-offset: 4px;
}