// UIkit breakpoints
$small: 640px;
$medium: 960px;
$large: 1200px;
$xlarge: 1600px;


$darkgray : #323030;
$cream : #f5e6ca;
$text: #382b22;
$red: #cd554e;
$white: #ebebeb;

$peach: #F5D6CC;


.text-red {
    color: $red !important;
}