@import '_variables.scss';
@import '_typography.scss';
@import '_components.scss';
@import '_intro.scss';
@import '_about.scss';
@import '_services.scss';
@import '_projects.scss';
@import '_tech.scss';
@import '_contact.scss';


body {
    cursor: url('../assets/watermelon.svg') 12 12, auto;

    .uk-navbar-container {

        &:not(.uk-navbar-transparent) {
            background: #F5D6CC;
        }
        
        .uk-navbar {
            margin: 0 20px;
        
            .logo {
                height: 50px;
                width: auto;
                margin: 15px 0;

                @media (min-width: $medium) {
                    height: 65px;
                }
            }

            .uk-navbar-nav {
                gap: 20px;

                @media (min-width: $small) {
                    gap: 50px;
                }

                li > a {
                    text-transform: none;
                    color: #333;
                    font-size: 16px;
                }
            }
        }
    }

    #offcanvas-mobile-menu {

        .uk-offcanvas-bar {
            background-color: $white;
            padding: 20px;

            * {
                color: #333;
            }

            img.logo {
                height: 70px;
                width: auto;
            }
        }
    }


    footer {
        background-color: #403955;
        border-radius: 15px;
        padding: 20px;
        margin-bottom: 20px !important;
		text-align: center;

		@media (min-width: $medium) {
			margin-bottom: 40px !important;
			text-align: auto;
		}

		* {
			@include fluid-type($min_width, $max_width, 14px, 18px);
		}
        
        span {
            color: $white;
        }
        
        a, a:hover {
            color: #e8c01b;
        }
    }
}