@import '_variables.scss';
@import '_typography.scss';
@import '_components.scss';


body {
	cursor: url('../assets/watermelon.svg') 12 12, auto;

	.uk-navbar-container:not(.uk-navbar-transparent) {
		background: #F5D6CC;
	}

	.uk-navbar {
		margin: 0 20px;
	
		.logo {
			width: 70px;
			margin: 15px 0;
		}

		.uk-navbar-nav {
			gap: 20px;

			@media (min-width: $small) {
				gap: 50px;
			}

			li > a {
				text-transform: none;
				color: #333;
				font-size: 16px;
			}
		}
	}

	#intro {
		background-color: $peach;
		border-radius: 15px;
		width: 100%;
		max-width: 800px;
		height: 200px;
		position: relative;

		.icon {
			position: absolute;
			width: 70px;
			height: auto;

			&.icon-1 {
				bottom: -30px;
				left: 10px;
			}

			&.icon-2 {
				bottom: -40px;
				left: 90px;
			}

			&.icon-3 {
				top: -40px;
				right: 10px;
			}
			
			&.icon-4 {
				top: -35px;
				right: 85px;
			}

			@media (min-width: $medium) {
				width: 130px;

				&.icon-1 {
					top: -20px;
					left: -55px;
				}

				&.icon-2 {
					bottom: -45px;
					left: 15px;
				}

				&.icon-3 {
					top: -35px;
					right: -55px;
				}

				&.icon-4 {
					right: 10px;
					bottom: -40px;
					top: auto;
				}
			}
		}
	}

	#about {
		.title {
			position: relative;
			display: inline-block;

			&::before {
				content: "";
				width: 70px;
				height: 70px;
				display: block;
				background-image: url(../assets/icon-star.png);
				position: absolute;
				background-size: contain;
				z-index: -1;
				left: -30px;
				top: -10px;
			}
		}
	}

	#services {
		padding: 50px;
		background-color: #fdf5f2;
		width: 100%;
		border-radius: 15px;

		.service-item {
			margin-bottom: 20px;
			
			@media (min-width: $medium) {
				text-align: center;
				width: 150px;
			}

			img {
				width: 100px;
				text-align: center;
				margin-right: 20px;
		
				@media (min-width: $medium) {
					width: 100%;
					margin-right: 0;
				}
			}
		}
		
		
		

		ul {

			li {
				list-style: none;
				position: relative;

				&::before {
					content: "";
					width: 30px;
					height: 30px;
					display: block;
					background-image: url(../assets/icon-sparkle.png);
					position: absolute;
					background-size: contain;
					background-repeat: no-repeat;
					left: -40px;
    				top: 2px;
				}
			}
		}
	}

	#projects {
		display: none; // hide for now

		.project-item {
			padding: 10px;
			border-radius: 15px;
			color: $white;

			&-1 {
				background-color: #589FC7;
			}

			&-2 {
				background-color: #5AA799;
			}

			&-3 {
				background-color: #DB6D8B;
			}

			&-4 {
				background-color: #D37E3A;
			}

			&-5 {
				background-color: #E8C01B;
			}

			&-6 {
				background-color: #946389;
			}
		}
	}

	#tech {

		.title {
			position: relative;
			display: inline-block;
			text-align: center;

			&::before {
				content: "";
				width: 70px;
				height: 70px;
				display: block;
				background-image: url(../assets/icon-mouse-clicker.png);
				position: absolute;
				background-size: contain;
				z-index: -1;
				left: -33px;
				top: -17px;
			}
		}

		.tech-item {
			// padding: 10px;
			border-radius: 15px;
			text-align: center;
			max-width: 280px;

			&-1 {
				background-color: #6D9BB5;
			}

			&-2 {
				background-color: #EBA268;
			}

			&-3 {
				background-color: #DB7C96;
			}

			&-4 {
				background-color: #9872A2;
			}
		}
	}

	#contact {

		.title span {
			font-size: 30px;
			margin-left: 5px;
		}

		.contact-box {
			background-color: #F5D6CC;
			padding: 40px 30px 40px 30px;
			border-radius: 15px;
			position: relative;
			text-align: right;

			@media (min-width: $medium) {
				width: 500px;
				text-align: center;
			}

			p {
				margin-bottom: 0;
			}

			a {
				font-size: 28px;
				color: #333 !important;
				font-family: "Stylish",sans-serif !important;
			}

			
			img.icon-mail {
				position: absolute;
				width: 110px;
				left: 30px;
				top: 15px;

				@media (min-width: $medium) {
					width: 180px;
					left: -90px;
					top: 30px;
				}
			}
		}
	}

	footer {
		background-color: #403955;
		border-radius: 15px;
		padding: 20px;
		margin-bottom: 40px;

		div:first-child {
			margin-bottom: 20px;

			@media (min-width: $medium) {
				margin-bottom: 0;
			}
		}
		
		span {
			color: $white;
		}
		
		a, a:hover {
			color: #e8c01b;
		}
	}
}